/*Tirando margin padrão do body*/
body{
    margin: 0;
    background-color: rgba(333, 333, 333, 0.5);
}
/* Header menu topo do site */
.header{
    width: 100%;
    height: 60px;
    background-color: #333333;   
    position: fixed;
    z-index: 2;
}   
/* Imagem com 100% de altura e largura automatica */
.img-responsive-y{
    height: 100%;
    width: auto;
}
/* Imagem com 100% de largura e altura automatica */
.img-responsive-x{
    height: auto;
    width: 100%;
}
.img-lince{
   height: 100vh;
   width: 100vw;
   opacity: 0.5;
   pointer-events: none;    
   background: url(images/lince-bg.jpg) no-repeat fixed center;
   background-size: 100vw 100vh;
}
.texto-p1 {
    position: relative;
    top: 3em;
    z-index: 10;
    height: 3em;
    left: 3em;
    color: #000 !important;
    font-weight: 600;
    font-size: 4rem;
    width: 10vw;
}